body{
    background-color: cadetblue;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    color: #D6FF6B;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

h1:hover {
    color: #790606;
}

h2 {
    color: #D6FF6B
}

h3 {
    color: #D6FF6B
}

div {
    flex-direction: column;
    display: flex;
    align-items: center;
}
